body {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  min-width: 360px;
  font-family: Arial, Helvetica, sans-serif;
  background: linear-gradient(to bottom right, darkblue, darkorchid)
}

.form-wrapper {
  height: 500px;
  width: 500px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  border-radius: 20px;
  padding: 30px 40px;
  box-sizing: border-box;
  background: radial-gradient(#202020, #323232);
  box-shadow: 0 10px 10px 10px rgba(0, 0, 0, 0.5);
}

.header-wrapper {
  display: flex;
  flex-direction: column;
}

.header-wrapper > h2 {
  margin-top: 20px;
  text-transform: uppercase;
  color: darkorchid;
  font-weight: bold;
  letter-spacing: 2px;
}

.icon {
  background: -webkit-gradient(linear, left top, left bottom, from(darkblue), to(darkorchid));
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
  text-align: center;
}

.input-wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 10px;
}

form {
  display: flex;
  flex-direction: column;
  margin-top: 50px;
  width: 100%;
  height: 100%;
  color: white;
  row-gap: 20px;
}

input {
  background: #323232;
  box-sizing: border-box;
  color: ghostwhite;
  padding: 10px;
  width: 100%;
  height: 100%;
  border-radius: 5px;
  border: 0px;
  outline: none;
  transition-duration: 0.5s;
}

input:focus {
  border: 1px solid rgb(91, 50, 204);
  transform: translateY(-5px);
  border: 1px darkorchid solid;
  box-shadow: 0 5px 5px 0 rgba(0, 0, 0, 0.5);
}

input:valid {
  background: #3d3d3d;
  box-shadow: 0 7px 7px 0 rgba(0, 0, 0, 0.5);
}

.otp-cells-wrapper {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.otp-cell {
  font-size: 1rem;
  width: 40px;
  text-align: center;
  font-weight: 300;
}


.otp-cell::-webkit-outer-spin-button,
.otp-cell::-webkit-inner-spin-button,
#input-amount::-webkit-outer-spin-button,
#input-amount::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.send-button {
  margin: auto;
  background: #323232;
  border-radius: 20px;
  height: 40px;
  width: 50%;
  color: #5f5f5f;
  border: 0px;
  transition-duration: 0.5s;
  font-weight: bold;
}

.send-button:hover {
  transform: translateY(-5px);
  border: 1px darkorchid solid;
  box-shadow: 0 5px 5px 0 rgba(0, 0, 0, 0.5);
  background: linear-gradient(to right, darkblue, darkorchid);
  color: white;
}

